.main-area {
  width: 600px;
  height: 200px;
}
.side-area {
  display: inline-block;
  vertical-align: top;
  width: 295px;
}
.line-group > * {
  display: inline-block;
}

.container {
  padding-left: 3px;
  margin: 0;
  display: block;
}
.container .element {
  display: inline-block;
}
.label {
  font-size: 13px;
  width: 130px;
}
input.fluid {
  width: 150px;
}

button.ex-btn {
  background-color: #0c59bd;
  border-radius: 10px;
  border: none;
  padding: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}
button.ex-btn:hover {
  cursor: pointer;
  background-color: #09428b;
}

button.ex-btn:active {
  outline: none;
  border: none;
}

button.ex-btn:focus {
  outline: 0;
}
